extends layout

block content
  div#inputName
     请填写昵称：
     input#u(placeholder="用户昵称",maxlength=20)
     p
      button#okname 进入聊天室
  div#chat
    div#msgContent
      ul#messages
      form.form
        div#sendContent
          input#m(maxlength=200)
          button#s 发射
    div#users
      div#online
      ol#userlist
  script(src="/javascripts/jquery-1.11.2.js")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/chat.js")
