extends layout

block content
  h1= title
  ul#messages
  form.form
    input#u(placeholder="用户昵称")
    input#m
    button#s send
  script(src="//code.jquery.com/jquery-1.11.1.js")
  script(src="/socket.io/socket.io.js")
  script 
    |var socket = io();
    |$('form').submit(function() {
    |   if($("#u").val().length==0){
    |       alert('请填写昵称');
    |       return false;
    |   }
    |   if($("#m").val().length==0){
    |       alert('内容不能为空!');
    |       return false;
    |   }
    |  socket.emit('chat message', {user:$('#u').val(),msg:$('#m').val()});
    |  $('#m').val('');
    |  return false;
    |});
    |socket.on('chat message', function(data) {
    |   $('#messages').append($('<li>'+data.user+ '说：' + data.msg + '</li>'))
    |});
    |socket.on('hi', function() {
    |});
