doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <ul class="menu"><li><a target="_blank" href="http://www.lovewebgames.com/jsmodule/index.html">js组件首页</a></li><li><a href="http://www.lovewebgames.com/index.html" target="_blank">JY库</a></li><li><a href="http://www.lovewebgames.com/dev.htm" target="_blank" >分享区</a></li><li><a href="http://www.lovewebgames.com/demo.html" target="_blank">技术博文</a></li><li><a href="http://www.lovewebgames.com/games.html" target="_blank">JY游戏</a></li><li><a href="https://github.com/tianxiangbing/chat" target="_blank">源码地址</a></li><li> <iframe src="http://ghbtns.com/github-btn.html?user=tianxiangbing&repo=chat&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="120" id="gh-watchers" height="20"></iframe></li></ul>
    block content
