body {
  padding: 0px;
  font: 14px "微软雅黑",Arial, sans-serif;
  margin:0;
  background-color: #fefefe;
  color:#666;
}
*{box-sizing: border-box;}
html,body{height:100%;overflow: hidden;}
form,input,p{padding:0;margin:0;box-sizing:border-box;}
a {
  color: #00B7FF;
}
.form{position: fixed;bottom:0;width: 80%;}
.form button{height:30px;line-height: 30px;display: inline-block;border:1px solid #ccc;margin:0;padding:0;}
.form #u,.form #s{width:10%;height:30px;line-height: 30px;}
.form #m{width: 90%;height:30px;line-height: 30px;}
#u{width:180px;border:1px solid #ccc;height: 30px;line-height: 30px;border-radius: 4px;}
#inputName{background-color: #eee; width:250px;height:120px;border:1px solid #f2f2f2;margin:0 auto;margin-top:20%;padding:20px 20px;border-radius: 10px;}
#inputName button{margin:10px 0 0 50px;cursor: pointer;}
#chat{display: none;} 
ul,li,ol{list-style: none;}
#messages{padding-bottom:30px;margin-right: 30px;overflow: auto;}
li{height: 30px;line-height: 30px; word-break: break-all;clear: both;}
li.msg span{color:#999;padding:0 3px;}
li.msg div{border:1px solid #ccc;background-color: gold;float: left;margin-left: 20px;padding:5px 10px;border-radius: 5px;}
#online{text-align: center;border-bottom: 1px solid #ccc;}
li.mine div{background-color: #FFFF00;float: right;}
li.mine{text-align: right;}
ol{margin: 0;line-height: 30px;padding: 0;}
ol li{padding:0 5px;}
ol li:hover{background-color: #f2f2f2;}
#chat{height: 100%;}
#msgContent{float:left;display: inline-block;width: 80%;overflow: hidden;}
#users{display: inline-block;width:20%;height:100%;overflow-x:hidden;overflow-y:auto;border-left:1px solid #ccc;}